{% extends "starsight/base.html" %}
{% load static %}       <!-- Remove after removing article images -->
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-homepage{% endblock %}


{% block extra_css %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

{% endblock extra_css %}


{% block head_js %}

<!-- Preload scripts -->
<link rel="preload" as="script" href="{% static 'home/js/external_apis.js' %}">
<link rel="preload" as="script" href="{% static 'home/js/animations.js' %}">

{% endblock head_js %}


{% block content %}


{% comment %} 
<div class="home-grid">
    <article class="article article--1">
        <h1>Post 1</h1>
    </article>

    <div class="home-grid__nested">
        <article class="article article--2">
            <h1>Post 2</h1>
        </article>
    
        <article class="article article--3">
            <h1>Post 3</h1>
        </article>
    </div>
    
    <div class="home-grid__sidebar">
        <div id="apod" class="apod"></div>
    </div>
</div>
 {% endcomment %}


<div class="home-grid">
    <article class="article article--1">
        <img class="article__img" src="{% static 'home/images/space-1486556_1280.jpg' %}" alt="Jupiter vista">

        <div class="article__content">
            <h2 class="article__header">
                Neverwinter Comet
                <span class="article__date"><small>December 3, 2020</small></span>
            </h2>
            
            <a href="#">Constellations are part of some the universe’s symbology through the lens of humanity through the ages.</a>
        </div>
    </article>

    <div class="home-grid__nested">
        <article class="article article--2">
            <img class="article__img" src="{% static 'home/images/aurora-borealis-2874887_1920.jpg' %}" alt="Jupiter vista">

            <div class="article__content">
                <h2 class="article__header">
                    The Mystical Aurora Borealis
                    <span class="article__date"><small>December 2, 2020</small></span>
                </h2>
                
                <a href="#">
                    Is the Aurora Borealis more than just a “scientific” phenomena? What lies
                    behind theserene and colorful lightshow that is the Auroroa Borealis?
                </a>
            </div>
        </article>
    
        <article class="article article--3">
            <img class="article__img" src="{% static 'home/images/constellation-3594964_1920.jpg' %}" alt="Jupiter vista">

            <div class="article__content">
                <h2 class="article__header">
                    Bulwark Constellation
                    <span class="article__date"><small>December 1, 2020</small></span>
                </h2>
                
                <a href="#">
                    Constellations are part of some the universe’s symbology through the lens of
                    humanity through the ages.
                </a>
            </div>
        </article>
    </div>
    
    <div class="home-grid__sidebar">
        <div id="apod" class="apod"></div>
    </div>
</div>


{% comment %} <div>
    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}
</div>
 {% endcomment %}



{% endblock content %}


{% block extra_js %}

{% image self.default_apod_image original as img %}

<script>
    let nasaAPIKey = '{{ nasa_api_key }}'

    let defaultAPOD = '{{ img.url }}'
    let defaultAPODTitle = '{{ self.default_apod_image_title }}'
    let defaultAPODCredits = '{{ self.default_apod_image_credits }}'
    let defaultAPODText = '{{ self.default_apod_image_text|richtext }}'
    let defaultAPODURL = '{{ self.default_apod_image_url }}'
</script>

<script defer type="text/javascript" src="{% static 'home/js/external_apis.js' %}"></script>
<script defer type="text/javascript" src="{% static 'home/js/animations.js' %}"></script>

{% endblock extra_js %}