{% extends "starsight/base.html" %}
{% load static %}       <!-- Remove after removing article images -->
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}


{% block body_class %}template-homepage{% endblock %}


{% block extra_css %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

{% endblock extra_css %}


{% block head_js %}

<!-- Preload scripts -->
<link rel="preload" as="script" href="{% static 'home/js/external_apis.js' %}">
<link rel="preload" as="script" href="{% static 'home/js/animations.js' %}">

{% endblock head_js %}


{% block content %}



<div class="home-grid">

{% comment %}     {% for article in articles|slice:'0:7' %}
        
        <article class="article article--{{ forloop.counter }}">
            
            <a class="article__img" href="{{ article.url }}">
                {% image article.image original as article_img %}
                <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
            </a>
            
            <a class="article_content" href="{{ article.url }}">
                <h2 class="article__header">
                    {{ article.title }}
                    <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                </h2>

                <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
            </a>

        </article>
        
    {% endfor %} {% endcomment %}















{% comment %}     {% for article in articles|slice:'0:1' %}
    
        <article class="article article--{{ forloop.counter }}">
            
            <a class="article__img" href="{{ article.url }}">
                {% image article.image original as article_img %}
                <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
            </a>
            
            <a class="article_content" href="{{ article.url }}">
                <h2 class="article__header">
                    {{ article.title }}
                    <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                </h2>

                <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
            </a>

        </article>
    
        {% endfor %}

    <div class="home-grid__double">

        {% for article in articles|slice:'1:3' %}
        
            <article class="article">
                <a class="article__img" href="{{ article.url }}">
                {% image article.image original as article_img %}
                    <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
                </a>
                
                <a class="article_content" href="{{ article.url }}">
                    <h2 class="article__header">
                        {{ article.title }}
                        <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                    </h2>

                    <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
                </a>

            </article>
        
        {% endfor %}

    </div>

    {% for article in articles|slice:'3:4' %}
    
        <article class="article">
            <a class="article__img" href="{{ article.url }}">
            {% image article.image original as article_img %}
                <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
            </a>
            
            <a class="article_content" href="{{ article.url }}">
                <h2 class="article__header">
                    {{ article.title }}
                    <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                </h2>

                <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
            </a>

        </article>
    
    {% endfor %}

    <div class="home-grid__triple">
    
        {% for article in articles|slice:'4:7' %}
        
            <article class="article">
                <a class="article__img" href="{{ article.url }}">
                {% image article.image original as article_img %}
                    <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
                </a>
                
                <a class="article_content" href="{{ article.url }}">
                    <h2 class="article__header">
                        {{ article.title }}
                        <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                    </h2>

                    <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
                </a>

            </article>

        {% endfor %}

    </div> {% endcomment %}

    {% comment %} <div class="home-grid__sidebar">
        <div id="apod" class="apod"></div>
    </div> {% endcomment %}
</div>




{% comment %} <div>
    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}
</div>
 {% endcomment %}


{% comment %} From https://v5.getbootstrap.com/docs/5.0/components/carousel/ {% endcomment %}
{% comment %}  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

        {% for image in self.carousel_images.all %}

            {% image image.carousel_image fill-900x400 as carousel_image %}

            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                <img src="{{ carousel_image.url }}" class="d-block w-100" alt="...">
            </div>

        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div> {% endcomment %}




<a href="{% routablepageurl self 'subscribe_page' %}">Subscribe</a>
<h2>Link is {{ test_link }}</h2>


{% endblock content %}


{% block extra_js %}

{% image self.default_apod_image original as img %}

<script>
    let nasaAPIKey = '{{ nasa_api_key }}'

    let defaultAPOD = '{{ img.url }}'
    let defaultAPODTitle = '{{ self.default_apod_image_title }}'
    let defaultAPODCredits = '{{ self.default_apod_image_credits }}'
    let defaultAPODText = '{{ self.default_apod_image_text|richtext }}'
    let defaultAPODURL = '{{ self.default_apod_image_url }}'
</script>

<script defer type="text/javascript" src="{% static 'home/js/external_apis.js' %}"></script>
<script defer type="text/javascript" src="{% static 'home/js/animations.js' %}"></script>

{% endblock extra_js %}