{% extends "starsight/base.html" %}
{% load static %}       <!-- Remove after removing article images -->
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}


{% block body_class %}template-homepage{% endblock %}


{% block extra_css %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

{% endblock extra_css %}


{% block head_js %}

<!-- Preload scripts -->
<link rel="preload" as="script" href="{% static 'home/js/external_apis.js' %}">

{% endblock head_js %}


{% block content %}


<div class="hero">

    {% image self.hero_image original as hero_img %}
    <img class="hero__img" src="{{ hero_img.url }}" alt="{{ hero_img.alt }}">

    <p class="hero__text-left">
        Some of these stars may not exist as stars anymore...<br>
        but their lights still echo forth through the cosmos
    </p>

    <p class="hero__text-right">
        Shine<br>
        Bright
    </p>

</div>


<div class="home-grid">

    {% for article in articles|slice:'0:1' %}
    
        <article class="featured-article featured-article--0">
            <div class="featured-article__top">
                <a class="featured-article__top__topic" href="{% slugurl 'articles' %}?topic={{ article.topic.slug }}">
                    {{ article.topic.name|upper }}
                </a>
                <span class="featured-article__top__date">{{ article.first_published_at|date:"F d, Y" }}</span>
            </div>

            <a href="{{ article.url }}">
                {% image article.image original as article_img %}
                <img class="featured-article__img" src="{{ article_img.url }}" alt="{{ article_img.alt }}">
            </a>

            <div class="featured-article__content">
                <h2 class="featured-article__content__title">{{ article.title }}</h2>
                <div class="featured-article__content__text">{{ article.banner_text|richtext }}</div>
            </div>
        </article>
    
    {% endfor %}

    <div class="home-grid__nested">

        {% for article in articless|slice:'1:3' %}
        
            <article class="featured-article featured-article--{{ forloop.counter }}">
                <div class="featured-article__top">
                    <a class="featured-article__top__topic" href="{% slugurl 'articles' %}?topic={{ article.topic.slug }}">
                        {{ article.topic.name|upper }}
                    </a>
                    <span class="featured-article__top__date">{{ article.first_published_at|date:"F d, Y" }}</span>
                </div>

                <a href="{{ article.url }}">
                    {% image article.image original as article_img %}
                    <img class="featured-article__img" src="{{ article_img.url }}" alt="{{ article_img.alt }}">
                </a>

                {% comment %} <div class="featured-article__content featured-article__content--2"> {% endcomment %}
                <div class="featured-article__content featured-article__content--{{ forloop.counter }}">
                    <h2 class="featured-article__content__title">{{ article.title }}</h2>
                    <div class="featured-article__content__text">{{ article.banner_text|richtext }}</div>
                </div>
            </article>
        
        {% endfor %}

    </div>

    <div class="home-grid__widgets {% if articles.count < 1 %} move-up {% endif %}">
        <div id="apod" class="apod"></div>
        {% comment %} <div id="cometTracker" class="comet-tracker"><h1>Comet Tracker</h1></div> {% endcomment %}
    </div> 

</div>

{% if articles.count > 3 %}

<div class="more-grid">
    <div class="more-grid__banner">
        <h4 class="more-grid__banner__text">MORE STORIES</h4>
    </div>

    {% for article in articles|slice:'3:7' %}
    
        <article class="older-article older-article--{{ forloop.counter }}">

            <a class="older-article__img-link" href="{{ article.url }}">
                {% image article.image original as article_img %}
                <img class="older-article__img" src="{{ article_img.url }}" alt="{{ article_img.alt }}">
            </a> 

            <div class="older-article__content older-article__content--{{ forloop.counter }}">
                <h2 class="older-article__content__title"><a href="{{ article.url }}">{{ article.title }}</a></h2>

                <a class="older-article__content__topic" href="{% slugurl 'articles' %}?topic={{ article.topic.slug }}">
                    {{ article.topic.name|upper }}
                </a>
                <span class="older-article__content__date">{{ article.first_published_at|date:"F d, Y" }}</span>

                <a class="older-article__content__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a> 
            </div>

        </article>

    {% endfor %}

    <a class="more-grid__btn starsight-btn btn btn-primary shadow-none" href="{% slugurl 'articles' %}">Read more articles</a>

</div>

{% endif %}




{% comment %} <div class="home-grid"> {% endcomment %}

{% comment %}     {% for article in articles|slice:'0:7' %}
        
        <article class="article article--{{ forloop.counter }}">
            
            <a class="article__img" href="{{ article.url }}">
                {% image article.image original as article_img %}
                <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
            </a>
            
            <a class="article_content" href="{{ article.url }}">
                <h2 class="article__header">
                    {{ article.title }}
                    <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                </h2>

                <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
            </a>

        </article>
        
    {% endfor %} {% endcomment %}















{% comment %}     {% for article in articles|slice:'0:1' %}
    
        <article class="article article--{{ forloop.counter }}">
            
            <a class="article__img" href="{{ article.url }}">
                {% image article.image original as article_img %}
                <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
            </a>
            
            <a class="article_content" href="{{ article.url }}">
                <h2 class="article__header">
                    {{ article.title }}
                    <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                </h2>

                <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
            </a>

        </article>
    
        {% endfor %}

    <div class="home-grid__double">

        {% for article in articles|slice:'1:3' %}
        
            <article class="article">
                <a class="article__img" href="{{ article.url }}">
                {% image article.image original as article_img %}
                    <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
                </a>
                
                <a class="article_content" href="{{ article.url }}">
                    <h2 class="article__header">
                        {{ article.title }}
                        <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                    </h2>

                    <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
                </a>

            </article>
        
        {% endfor %}

    </div>

    {% for article in articles|slice:'3:4' %}
    
        <article class="article">
            <a class="article__img" href="{{ article.url }}">
            {% image article.image original as article_img %}
                <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
            </a>
            
            <a class="article_content" href="{{ article.url }}">
                <h2 class="article__header">
                    {{ article.title }}
                    <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                </h2>

                <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
            </a>

        </article>
    
    {% endfor %}

    <div class="home-grid__triple">
    
        {% for article in articles|slice:'4:7' %}
        
            <article class="article">
                <a class="article__img" href="{{ article.url }}">
                {% image article.image original as article_img %}
                    <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
                </a>
                
                <a class="article_content" href="{{ article.url }}">
                    <h2 class="article__header">
                        {{ article.title }}
                        <span class="article__date"><small>{{ article.first_published_at }}</small></span>
                    </h2>

                    <a class="article__text" href="{{ article.url }}">{{ article.banner_text|richtext }}</a>
                </a>

            </article>

        {% endfor %}

    </div> {% endcomment %}

    {% comment %} <div class="home-grid__sidebar">
        <div id="apod" class="apod"></div>
    </div> {% endcomment %}
{% comment %} </div> {% endcomment %}




{% comment %} <div>
    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}
</div>
 {% endcomment %}


{% comment %} From https://v5.getbootstrap.com/docs/5.0/components/carousel/ {% endcomment %}
{% comment %}  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

        {% for image in self.carousel_images.all %}

            {% image image.carousel_image fill-900x400 as carousel_image %}

            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                <img src="{{ carousel_image.url }}" class="d-block w-100" alt="...">
            </div>

        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div> {% endcomment %}




{% comment %} <a href="{% routablepageurl self 'subscribe_page' %}">Subscribe</a>
<h2>Link is {{ test_link }}</h2> {% endcomment %}


{% endblock content %}


{% block extra_js %}

{% image self.default_apod_image original as img %}

<script>
    let nasaAPIKey = '{{ nasa_api_key }}'

    let defaultAPOD = '{{ img.url }}'
    let defaultAPODTitle = '{{ self.default_apod_image_title }}'
    let defaultAPODCredits = '{{ self.default_apod_image_credits }}'
    let defaultAPODText = '{{ self.default_apod_image_text|richtext }}'
    let defaultAPODURL = '{{ self.default_apod_image_url }}'

    let articlesURL = "{% slugurl 'articles' %}"
</script>

<script defer type="text/javascript" src="{% static 'home/js/external_apis.js' %}"></script>

{% endblock extra_js %}