[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==2.14.1"
Django = "==3.2.5"
psycopg2 = "==2.9.1"
python-decouple = "==3.4"
django-debug-toolbar = "==3.2.1"
gunicorn = "==20.1.0"
whitenoise = "==5.2.0"
django-heroku = "==0.3.1"
django-storages = "==1.11.1"
boto3 = "==1.17.102"
anyascii = "==0.2.0"
asgiref = "==3.4.0"
backcall = "==0.2.0"
beautifulsoup4 = "==4.8.2"
botocore = "==1.20.102"
certifi = "==2021.5.30"
chardet = "==4.0.0"
colorama = "==0.4.4"
decorator = "==4.4.2"
dj-database-url = "==0.5.0"
django-extensions = "==3.1.0"
django-filter = "==2.4.0"
django-modelcluster = "==5.1"
django-taggit = "==1.5.0"
django-treebeard = "==4.5.1"
djangorestframework = "==3.12.4"
draftjs-exporter = "==2.1.7"
et-xmlfile = "==1.1.0"
html5lib = "==1.1"
idna = "==2.10"
ipython = "==7.19.0"
jdcal = "==1.4.1"
jedi = "==0.17.2"
jmespath = "==0.10.0"
l18n = "==2020.6.1"
openpyxl = "==3.0.7"
parso = "==0.7.1"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.8"
python-dateutil = "==2.8.1"
pytz = "==2021.1"
requests = "==2.25.1"
s3transfer = "==0.4.2"
six = "==1.16.0"
soupsieve = "==2.2.1"
sqlparse = "==0.4.1"
tablib = "==3.0.0"
traitlets = "==5.0.5"
urllib3 = "==1.26.6"
wcwidth = "==0.2.5"
webencodings = "==0.5.1"
xlrd = "==2.0.1"
xlwt = "==1.3.0"
ipython_genutils = "==0.2.0"
Pillow = "==8.2.0"
Pygments = "==2.7.3"
Unidecode = "==1.2.0"
Willow = "==1.4"
XlsxWriter = "==1.4.3"
telepath = "==0.2"

[dev-packages]

[requires]
python_version = "3.9"
