// Functions
@function color($color-name) {
    @return map-get($colors, $color-name)
};

@function margin($margin-name) {
    @return map-get($margins, $margin-name)
};

// Variables
$colors: (
    background: #f5f5f5,
    white-text: #ffffff,
    text: #050404,
    text-faded: #05040463,
    scrollbar: #4FC0C0,
    footer: #30323F,

    featured-text-box: rgba(48, 50, 63, 0.5),

    cool-green: #4FC0C0,
    cooler-green: #5de4e4,
);

$margins: (
    superwide: 20vw,
    wide: 9.5vw,
    slim: 7vw
);

// Utility Classes
.starsight-btn {
    // Add with btn & btn-primary to change the default colors
    color: color(white-text) !important;
    background-color: color(cool-green);
    border-color: color(cool-green);

    &:hover, &:focus, &:active {
        color: color(white-text) !important;
        background-color: #5cdddd !important;
        border-color: #5cdddd !important;
    }
}

// Imports
@import 'article_detail';


.topics {
    margin: calc(200px + 70px) auto 100px auto !important;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30%;

    //border: 1px solid green;

    &__topic {
        padding: 0.3rem 0;
        //width: auto;
        width: 130px;

        text-align: center;
        font-size: 1.5rem;

        cursor: pointer;

        border-radius: 7px;

        //border: 1px solid purple;

        transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
        will-change: color, background-color;

        &.clicked {
            color: color(white-text);
            background-color: color(cool-green);
        }
    }
}

.listings {
    margin: 0 margin(superwide);

    height: 1100px;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 70px;
    grid-column-gap: 70px;
}

.article {

    &__img {
        width: 100%;
        height: 300px;
        border-radius: 1px;

        object-fit: cover;
    }

    &__content {
        //margin-top: 12px;
        margin-top: 30px;

        &__title {
            margin-bottom: 5px;
            line-height: 1.7rem;

            a {
                font-size: 1.5rem;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }

        &__topic {
            font-size: 0.9rem;
            letter-spacing: 3px;
            color: color(cool-green) !important;

            transition: color ease-in-out 0.2s;
            will-change: color;
    
            &:hover {
                color: color(cooler-green) !important;
            }
        }

        &__date {
            font-size: 0.9rem;
            font-weight: 300;
            letter-spacing: 2px;
            color: color(text);
        }

        &__text {

            p {
                margin-top: 10px;
                letter-spacing: 1px;
                line-height: 2.1;
            }
        }
    }
}

.pagination {
    margin-top: 100px !important;
    margin-left: margin(superwide) !important;

    width: fit-content;
    border-radius: 7px;

    &__page, &__next {
        width: 36px;
        height: 39px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transition: color ease-in-out 0.2s;
        will-change: color;

        // Re-enable once you figure out how to add transition when fetching pagination stuff
        //transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
        //will-change: color, background-color;

        border-radius: 7px;

        //border: 1px solid green;

        &:not(.focused):hover {
            color: color(cool-green);
        }

        &.focused {
            color: color(white-text);
            background-color: color(cool-green);
        }
    }
}