// Functions
@function color($color-name) {
    @return map-get($colors, $color-name)
};

@function margin($margin-name) {
    @return map-get($margins, $margin-name)
};

// Variables
$colors: (
    background: #f5f5f5,
    white-text: #ffffff,
    text: #050404,
    scrollbar: #4FC0C0,
    footer: #30323F,

    featured-text-box: rgba(48, 50, 63, 0.5),

    cool-green: #4FC0C0,
    cooler-green: #5de4e4,
);

$margins: (
    wide: 9.5vw,
    slim: 7vw
);