{% load static wagtailuserbar menus_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% get_navigation 'main' as navigation_main %}
{% comment %} {% get_navigation 'footer' as navigation_footer %} {% endcomment %} {% comment %} @todo add footer items and loop through later {% endcomment %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" href="{% static 'starsight/css/starsight.css' %}">

    <!-- Bootstrap 5 beta CSS (https://getbootstrap.com/docs/5.0/getting-started/introduction/) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    {% block head_js %}
    {% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">

    <nav class="nav">

        <a class="nav__starsight" href="{% slugurl 'home' %}">STARSIGHT</a>

        {% comment %} navigation_main is from template tags, navigation_items is from navigations/models.py {% endcomment %}
        {% for nav_link in navigation_main.navigation_items.all %}
        
            <a class="nav__link" href="{{ nav_link.link }}" {% if item.open_in_new_tab %} target="_blank" {% endif %}>
                {{ nav_link.link_title }}
            </a>

        {% endfor %}

    </nav>

{% comment %}     <div class="hero">

        {% image settings.site_settings.StarsightSettings.hero_image original as hero_img %}
        <img class="hero__img" src="{{ hero_img.url }}" alt="{{ hero_img.alt }}">

        <p class="hero__text-left">
            Some of these stars may not exist as stars anymore...<br>
            but their lights still echo forth through the cosmos
        </p>

        <p class="hero__text-right">
            Shine<br>
            Bright
        </p>

    </div> {% endcomment %}


    















{% comment %}     <header class="header">

        {% image settings.site_settings.StarsightSettings.hero_image original as hero_img %}
        <img class="header__hero" src="{{ hero_img.url }}" alt="Stars in space">

        <nav class="header__left">
            <a class="header__left__starsight" href="{% slugurl 'home' %}">Starsight</a>
        </nav>

        <nav class="header__right">
            {% for item in navigation_main.navigation_items.all %}
            
                <a href="{{ item.link }}" {% if item.open_in_new_tab %} target="_blank" {% endif %}>{{ item.link_title }}</a>

            {% endfor %}
        </nav>


    </header>
 {% endcomment %}

    {% wagtailuserbar %}

    {% block content %}
    {% endblock %}


    <footer class="footer">
        <h1 style="color: white;">Footer</h1>

        {% if settings.site_settings.StarsightSettings.facebook %}
            <a href="{{ settings.site_settings.StarsightSettings.facebook }}" target="_blank">Facebook</a>
        {% endif %}

        {% if settings.site_settings.StarsightSettings.twitter %}
            <a href="{{ settings.site_settings.StarsightSettings.twitter }}" target="_blank">Twitter</a>
        {% endif %}

        {% if settings.site_settings.StarsightSettings.youtube %}
            <a href="{{ settings.site_settings.StarsightSettings.youtube }}" target="_blank">Youtube</a>
        {% endif %}




    </footer>


    {# Global javascript #}        
    <!-- Bootstrap 5 beta JS bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>
</html>
