{% extends 'starsight/base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}  {% comment %} wagtailcore_tags for blocks {% endcomment %}


{% block extra_css %}
{% endblock extra_css %}


{% block head_js %}
{% endblock head_js %}


{% block content %}

<h1>article detail page</h1>

{% image self.image fill-900x400 as article_image %}

<img src="{{ article_image.url }}" alt="{{ article_image.alt }}">

<div class="container">
    <div class="text-center">
        <h1>{{ self.title }}</h1>
        <strong>{{ self.strange_quote }}</strong>
    </div>

    <a class="text-center" href="{{ self.get_parent.url }}?topic={{ self.topic.slug }}">
        <h2>Topic: {{ self.topic.name }}</h2>
    </a>

    <ul>

        {% for loop in self.article_authors.all %}

            {% image loop.author.image fill-70x70 as author_image %}

            <li>
                <img src="{{ author_image.url }}" alt="{{ loop.author.name }}">

                {{ loop.author.name }}

                {% if loop.author.website %}
                    <a href="{{ loop.author.website }}" target="_blank">(Website)</a>
                {% endif %}

            </li>
        {% endfor %}

    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            {% for block in self.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</div>



{% endblock content %}


{% block extra_js %}
{% endblock extra_js %}