{% extends 'starsight/base.html' %}
{% load wagtailimages_tags static %}


{% block extra_css %}

<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">

{% endblock extra_css %}


{% block head_js %}

<link rel="preload" as="script" href="{% static 'articles/js/articles.js' %}">

{% endblock head_js %}


{% block content %}

<ul class="topics">

    <li id="topicsAll" class="topics__topic topics__topic--all topics__topic--all" data-topic_name="all">
        All
    </li>

    {% for topic in topics %}

        <li class="topics__topic topics__topic--{{ topic.slug }} topics__topic--topic" data-topic_id="{{ topic.id }}" data-topic_name="{{ topic.name }}">
            {{ topic.name }}
        </li>

    {% endfor %}

</ul>

<div id="listings" class="listings">
{% comment %} Add articles from articles.js {% endcomment %}
</div>


<ul id="pagination" class="pagination">

{% comment %}     <li class="pagination__btn">1</li>
    <li class="pagination__btn">2</li>
    <li class="pagination__btn">3</li>

    <li class="pagination__btn">
        <svg class="pagination__btn__svg" xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </li> {% endcomment %}

</ul>


{% comment %} <div class="container">

    {% if articles.paginator.num_pages > 1 %}
    
        <div class="pagination">

            {% if articles.has_previous %}

                <li class="page-item">
                    <a class="page-link" href="{% if topic_slug %}?topic={{ topic_slug }}&page={{ articles.previous_page_number }}{% else %}?page={{ articles.previous_page_number }}{% endif %}">
                        <span>&laquo;</span>
                    </a>
                </li>

            {% endif %}

            {% for page_num in articles.paginator.page_range %}
            
                <li class="page-item {% if page_num == articles.number %}active{% endif %}">
                    <a class="page-link" href="{% if topic_slug %}?topic={{ topic_slug }}&page={{ page_num }}{% else %}?page={{ page_num }}{% endif %}">
                        {{ page_num }}
                    </a>
                </li>                    
            
            {% endfor %}

            {% if articles.has_next %}

                <li class="page-item">
                    <a class="page-link" href="{% if topic_slug %}?topic={{ topic_slug }}&page={{ articles.next_page_number }}{% else %}?page={{ articles.next_page_number }}{% endif %}">
                        <span>&raquo;</span>
                    </a>
                </li>        
            
            {% endif %}

        </div>
    
    {% endif %}

</div> {% endcomment %}


{% comment %} <ul>

    {% for topic in topics %}

        <li><a href="?topic={{ topic.slug }}">{{ topic.name }}</a></li>
        
    {% endfor %}

</ul>

<h1>{{ topic_slug }}</h1>

{% if articles %}

    <div class="container">

        {% for article in articles %}

            <div class="row">
                <div class="col-sm-3">

                    {% image article.image fill-250x250 as article_img %}

                    <a href="{{ article.url }}">
                        <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
                    </a>
                </div>

                <div class="col-sm-9">
                    <a href="{{ article.url }}">
                        {{ article.title }}
                    </a>

                    {% if article.specific.strange_quote %}
                        <p>{{ article.specific.strange_quote }}</p>
                    {% endif %}
                </div>

            </div>
            <br>

        {% endfor %}

    </div>



    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                {% if articles.paginator.num_pages > 1 %}
                
                    <div class="pagination">

                        {% if articles.has_previous %}

                            <li class="page-item">
                                <a class="page-link" href="{% if topic_slug %}?topic={{ topic_slug }}&page={{ articles.previous_page_number }}{% else %}?page={{ articles.previous_page_number }}{% endif %}">
                                    <span>&laquo;</span>
                                </a>
                            </li>

                        {% endif %}

                        {% for page_num in articles.paginator.page_range %}
                        
                            <li class="page-item {% if page_num == articles.number %}active{% endif %}">
                                <a class="page-link" href="{% if topic_slug %}?topic={{ topic_slug }}&page={{ page_num }}{% else %}?page={{ page_num }}{% endif %}">
                                    {{ page_num }}
                                </a>
                            </li>                    
                        
                        {% endfor %}



                        {% if articles.has_next %}

                            <li class="page-item">
                                <a class="page-link" href="{% if topic_slug %}?topic={{ topic_slug }}&page={{ articles.next_page_number }}{% else %}?page={{ articles.next_page_number }}{% endif %}">
                                    <span>&raquo;</span>
                                </a>
                            </li>        
                        
                        {% endif %}

                    </div>
                
                {% endif %}


            </div>
        </div>
    </div>

{% else %}

    <h1>No articles for this topic</h1>

{% endif %} {% endcomment %}




{% endblock content %}


{% block extra_js %}

<script defer type="text/javascript" src="{% static 'articles/js/articles.js' %}"></script>

{% endblock extra_js %}