{% extends 'starsight/base.html' %}
{% load static wagtailimages_tags wagtailcore_tags %}  {% comment %} wagtailcore_tags for blocks {% endcomment %}


{% block extra_css %}

<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">

{% endblock extra_css %}


{% block head_js %}
{% endblock head_js %}


{% block content %}


<div class="article-banner">

    {% image self.image fill-900x400 as article_image %}
    <img class="article-banner__img" src="{{ article_image.url }}" alt="{{ article_image.alt }}">

    <div class="article-banner__content">
        <div class="article-banner__content__credits">Image by: {{ self.image_credits }}</div>
    </div>

</div>

<div class="article">

    <span class="article__topic">
        {{ self.topic.name|upper }}
        <span class="article__date">{{ self.first_published_at|date:"F d, Y" }}</span>
    </span>

    <h1 class="article__title">{{ self.title }}</h1>
    <h2 class="article__subtitle">{{ self.banner_text|richtext }}</h2>

    <div class="article__blocks">

        {% for block in self.content %}
            {% include_block block %}
        {% endfor %}

    </div>

</div>



{% comment %} <div class="container">
    <div class="text-center">
        <h1>{{ self.title }}</h1>
    </div>

    <a class="text-center" href="{{ self.get_parent.url }}?topic={{ self.topic.slug }}">
        <h2>Topic: {{ self.topic.name }}</h2>
    </a>

    <ul>

        {% for loop in self.article_authors.all %}

            {% image loop.author.image fill-70x70 as author_image %}

            <li>
                <img src="{{ author_image.url }}" alt="{{ loop.author.name }}">

                {{ loop.author.name }}

                {% if loop.author.website %}
                    <a href="{{ loop.author.website }}" target="_blank">(Website)</a>
                {% endif %}

            </li>
        {% endfor %}

    </ul>
</div> {% endcomment %}



{% endblock content %}


{% block extra_js %}
{% endblock extra_js %}