{% extends 'starsight/base.html' %}
{% load wagtailimages_tags static %}


{% block extra_css %}

<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">

{% endblock extra_css %}


{% block head_js %}

<link rel="preload" as="script" href="{% static 'articles/js/articles.js' %}">

{% endblock head_js %}


{% block content %}

<ul class="topics">

    <li id="topicsAll" class="topics__topic topics__topic--all topics__topic--all" data-topic_name="all">
        All
    </li>

    {% for topic in topics %}

        <li class="topics__topic topics__topic--{{ topic.slug }} topics__topic--topic" data-topic_id="{{ topic.id }}" data-topic_name="{{ topic.name }}">
            {{ topic.name }}
        </li>

    {% endfor %}

</ul>

<div id="listings" class="listings">
{% comment %} Add articles from articles.js {% endcomment %}
</div>



<ul id="pagination" class="pagination">
{% comment %} Add pagination items from articles.js {% endcomment %}
</ul>




{% endblock content %}


{% block extra_js %}

<script defer type="text/javascript" src="{% static 'articles/js/articles.js' %}"></script>

{% endblock extra_js %}