// Media queries for responsive website

@mixin verge($point) {

    @if $point == superlarge {
        @media only screen and (max-width: 1808px) { @content; }
    }

    @else if $point == xlarge {
        @media only screen and (max-width: 1511px) { @content; }
    }

    @else if $point == large {
        @media only screen and (max-width: 1300px) { @content; }
    }

    @else if $point == medium {
        @media only screen and (max-width: 1100px) { @content; }
    }

    @else if $point == small {
        @media only screen and (max-width: 930px) { @content; }
    }

    @else if $point == mini {
        @media only screen and (max-width: 795px) { @content; }
    }

    @else if $point == tiny {
        @media only screen and (max-width: 730px) { @content; }
    }

    @else if $point == mobile {
        @media only screen and (max-width: 530px) { @content; }
    }

    @else if $point == nano {
        @media only screen and (max-width: 497px) { @content; }
    }

    @else if $point == femto {
        @media only screen and (max-width: 387px) { @content; }
    }

    @else if $point == desktop_medium {
        @media only screen and (min-width: 1100px) { @content; }
    }

    @else if $point == desktop {
        @media only screen and (min-width: 930px) { @content; }
    }

    @else if $point == non_mobile {
        @media only screen and (min-width: 530px) { @content; }
    }
}

// Functions
@function color($color-name) {
    @return map-get($colors, $color-name)
};

@function margin($margin-name) {
    @return map-get($margins, $margin-name)
};


// Variables
$colors: (
    background: #f5f5f5,
    white-text: #ffffff,
    text: #050404,
    scrollbar: #4FC0C0,
    footer: #30323F,

    featured-text-box: rgba(48, 50, 63, 0.5),

    cool-green: #4FC0C0
);

$margins: (
    wide: 9.5vw,
    slim: 7vw
);

// Special classes
.no-select {
    //https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


// Imports
//@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

// Default CSS for blank canvas start
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;       // Bootstrap needs !important to remove link underline on hover */
}

// Apply border-box as default: https://css-tricks.com/international-box-sizing-awareness-day/
// https://css-tricks.com/box-sizing/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;

    font-size: 16px;                // Default font-size, but specify anyway
    scroll-behavior: smooth;        // Smooth scroll for anchor links: https://gomakethings.com/how-to-animate-scrolling-to-anchor-links-with-one-line-of-css/

    // For firefox scrollbar styling
    scrollbar-color: color(scrollbar) color(background);
    scrollbar-width: thin !important;

    // For other browsers scrollbar styling
    &::-webkit-scrollbar {
        width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
        background-color: color(background);
    }

    &::-webkit-scrollbar-thumb {
        background-color: color(scrollbar);
    }
}

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

// Change blue hyperlink color to its parent color
a, a:hover, a:active {
    color: inherit !important;
    text-decoration: none !important;
}

// Remove extra space below ul element
ul {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: color(background);
    color: color(text);
}

// base.html scss
/* .nav {
    margin: 0 margin(slim);

    width: 50vw;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    //border: 1px solid orange;

    &__starsight {
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 5px;
    }

    &__link {
        padding: auto 0;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;

        &:hover {
            color: color(cool-green);
        }
    }
} */

.nav {
    width: 100%;
    height: 70px;

    //border: 1px solid orange;

    &__links {
        margin-left: margin(slim) !important;

        width: 50%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        //border: 1px solid green;

        & li {
            height: 100%;
        }

        &__starsight {
            height: 100%;
            display: flex;
            align-items: center;

            & h1 {
                font-size: 30px;
                font-weight: 300;
                letter-spacing: 5px;
            }
        }

        &__link {
            height: 100%;
            display: flex;
            align-items: center;

            font-size: 20px;
            font-weight: 300;
            letter-spacing: 1px;

            transition: color ease-in-out 0.2s;
            will-change: color;

            &:hover {
                color: color(cool-green) !important;
            }
        }
    }
}

.footer {
    background-color: color(footer);
}