// Media queries for responsive website
@mixin verge($point) {

    @if $point == 1980 {
        @media only screen and (max-width: 1980px) { @content; }
    }

    @else if $point == 1700 {
        @media only screen and (max-width: 1700px) { @content; }
    }

    @else if $point == 1500 {
        @media only screen and (max-width: 1500px) { @content; }
    }

    @else if $point == 1350 {
        @media only screen and (max-width: 1350px) { @content; }
    }

    @else if $point == 1250 {
        @media only screen and (max-width: 1250px) { @content; }
    }

    @else if $point == desktop {
        @media only screen and (min-width: 1250px) { @content; }
    }

}

// Functions
@function color($color-name) {
    @return map-get($colors, $color-name)
};

@function margin($margin-name) {
    @return map-get($margins, $margin-name)
};

// Variables
$colors: (
    background: #f5f5f5,
    white-text: #ffffff,
    text: #050404,
    scrollbar: #4FC0C0,
    footer: #30323F,

    featured-text-box: rgba(48, 50, 63, 0.5),

    cool-green: #4FC0C0,
    cooler-green: #5de4e4,
);

$margins: (
    wide: 9.5vw,
    slim: 7vw,
    super-slim: 5vw,
    omega-slim: 3vw,
);

// SASS @ extend
%hamburger_style {
    //
    //https://www.youtube.com/watch?v=dIyVTjJAkLw
    //

    width: 40px;
    height: 2px;
    background: color(text);
    border-radius: 5px;
}

// Special classes
.no-select {
    //https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


// Imports
//@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

// Default CSS for blank canvas start
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;       // Bootstrap needs !important to remove link underline on hover */
}

// Apply border-box as default: https://css-tricks.com/international-box-sizing-awareness-day/
// https://css-tricks.com/box-sizing/
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;

    font-size: 17px;                // Default font-size 16px -> 17px. 1rem = 17px.
    scroll-behavior: smooth;        // Smooth scroll for anchor links: https://gomakethings.com/how-to-animate-scrolling-to-anchor-links-with-one-line-of-css/

    // For firefox scrollbar styling
    scrollbar-color: color(scrollbar) color(background);
    scrollbar-width: thin !important;

    // For other browsers scrollbar styling
    &::-webkit-scrollbar {
        width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
        background-color: color(background);
    }

    &::-webkit-scrollbar-thumb {
        background-color: color(scrollbar);
    }

    @include verge(1980) {
        font-size: 16px;
    }

    @include verge(1500) {
        font-size: 14px;
    }
}

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

// Change blue hyperlink color to its parent color
a, a:hover, a:active {
    color: inherit !important;
    text-decoration: none !important;
}

// Remove extra space below ul element
ul {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: color(background);
    color: color(text);
}

// Sticky header
// http://www.mattmorgante.com/technology/sticky-navigation-bar-javascript
// https://codepen.io/codeandfly/pen/xbQVOR


.nav {    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    margin-bottom: 0;

    width: 100%;
    height: 70px;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: start;

    transition: height ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    will-change: height, box-shadow;

    //border: 1px solid purple;


    &__starsight {
        margin-left: margin(slim);
        height: 100%;
        display: flex;
        align-items: center;

        //border: 1px solid orange;

        & h1 {
            margin-bottom: 0;
            font-size: 1.76rem;
            font-weight: 300;
            letter-spacing: 5px;

            transition: color ease-in-out 0.2s, font-size ease-in-out 0.15s;
            will-change: color, font-size;

            &:hover {
                color: color(cool-green);
            }

            &.sticky {
                font-size: 1.5rem;
            }
        }
    }

    &__links {
        margin-left: 5vw !important;

        width: 40%;

        display: flex;
        justify-content: space-between;

        //border: 1px solid green;

        &__li {
            height: 100%;

            @include verge(1250) {
                padding-right: margin(slim) !important;
                height: 70px;
                width: 100%;

                opacity: 0;
                transform: translateY(40px);

                //border: 1px solid orange;

                &:first-child {
                    margin-top: 70px;

                    &.sticky {

                        margin-top: 55px;
                    }
                }

                &:nth-child(1).open {
                    opacity: 1;
                    transform: translateY(0px);
                    transition: transform ease-in-out 0.21s, opacity ease-in-out 0.21s, margin-top ease-in-out 0.15s !important;
                    //transition: transform ease-in-out 0.1s 0.2s, opacity ease-in-out 0.1s 0.2s;
                }

                &:nth-child(2).open {
                    opacity: 1;
                    transform: translateY(0px);
                    transition: transform ease-in-out 0.31s, opacity ease-in-out 0.31s;
                    //transition: transform ease-in-out 0.2s 0.2s, opacity ease-in-out 0.2s 0.2s;
                }

                &:nth-child(3).open {
                    opacity: 1;
                    transform: translateY(0px);
                    transition: transform ease-in-out 0.41s, opacity ease-in-out 0.41s;
                    //transition: transform ease-in-out 0.3s 0.2s, opacity ease-in-out 0.3s 0.2s;
                }

                &:nth-child(4).open {
                    opacity: 1;
                    transform: translateY(0px);
                    transition: transform ease-in-out 0.51s, opacity ease-in-out 0.51s;
                    //transition: transform ease-in-out 0.4s 0.2s, opacity ease-in-out 0.4s 0.2s;
                }

                &:nth-child(5).open {
                    opacity: 1;
                    transform: translateY(0px);
                    transition: transform ease-in-out 0.61s, opacity ease-in-out 0.61s;
                    //transition: transform ease-in-out 0.5s 0.2s, opacity ease-in-out 0.5s 0.2s;
                }

                &:nth-child(6).open {
                    opacity: 1;
                    transform: translateY(0px);
                    transition: transform ease-in-out 0.71s, opacity ease-in-out 0.71s;
                    //transition: transform ease-in-out 0.6s 0.2s, opacity ease-in-out 0.6s 0.2s;
                }

                &:nth-child(7).open {
                    opacity: 1;
                    transform: translateY(0px);
                    transition: transform ease-in-out 0.81s, opacity ease-in-out 0.81s;
                    //transition: transform ease-in-out 0.7s 0.2s, opacity ease-in-out 0.7s 0.2s;
                }
            }
        }

        &__link {
            height: 100%;
            display: flex;
            align-items: center;

            font-size: 1.18rem;
            font-weight: 300;
            letter-spacing: 1px;

            transition: color ease-in-out 0.2s, font-size ease-in-out 0.15s;
            will-change: color, font-size;

            //border: 1px solid green;

            &:hover {
                color: color(cool-green) !important;
            }

            &.sticky {
                font-size: 1rem;

                // For ham house
                @include verge(1250) {
                    //height: auto;
                    font-size: 1.3rem;
                    
                }
            }

            // For ham house
            @include verge(1250) {
                width: 100%;
                //height: 100%;

                //vertically center and right-align text in dropdown menu
                display: flex;
                justify-content: flex-end;

                font-size: 1.3rem;
                text-align: right;

                //border: 1px solid green;
            }

        }

        @include verge(1980) {
            width: 50%;
        }


        @include verge(1700) {
            //margin-left: margin(super-slim) !important;
            width: 55%;
        }

        // For ham house
        @include verge(1250) {
            position: absolute;
            top: 0;
            right: 0;
            margin-left: 0;

            width: 26vw;
            height: 100vh;

            flex-direction: column;
            justify-content: flex-start;

            background-color: white;

            opacity: 0;
            pointer-events: none;

            border: 1px solid blue;

            &.open {
                opacity: 1;
                pointer-events: auto;
                transition: opacity ease-in-out 0.2s;
                will-change: opacity;
            }
        }
    }

    &.sticky {
        height: 55px;
        box-shadow: 0px 1px 5px rgb(207, 207, 207);
    }
}





.nav__ham-house {
    position: absolute;
    z-index: 6;
    top: 0;
    right: margin(slim);

    width: 40px;
    height: 70px;

    display: flex;
    justify-content: right;
    align-items: center;

    cursor: pointer;

    transition: height ease-in-out 0.15s, width ease-in-out 0.15s;

    //border: 1px solid purple;

    &__hamburger {
        position: relative;
        @extend %hamburger_style;

        transition: all 0.27s ease-in-out;
        will-change: background;

        &__top {
            position: absolute;
            @extend %hamburger_style;

            transform: translateY(-11px);
            transition: transform 0.15s ease-in-out, width 0.15s ease-in-out;

            &.sticky {
                transform: translateY(-7px);
            }

            &.open {
                transform: rotate(45deg) translate(35px, -35px);
            }

            &.sticky.open {
                width: 30px;
            }
        }

        &__bottom {
            position: absolute;
            @extend %hamburger_style;

            transform: translateY(11px);
            transition: transform 0.15s ease-in-out, width 0.15s ease-in-out;

            &.sticky {
                transform: translateY(7px);
            }

            &.open {
                transform: rotate(-45deg) translate(35px, 35px);
            }

            &.sticky.open {
                width: 30px;
            }
        }

        &.open {
            //width: 30px;
            transform: translateX(-50px);
            background: transparent;
        }

        &.sticky.open {
            width: 30px;
        }
    }

    &.sticky {
        height: 55px;
    }

    &.sticky.open {
        width: 30px;
    }

    @include verge(desktop) {
        display: none;
    }

}

































.footer {
    margin-top: 200px;
    height: 350px;
    background-color: color(footer);

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        margin-left: margin(slim);

        display: flex;
        gap: 25px;

        &__link {
            fill: color(white-text);

            transition: fill ease-in-out 0.2s;
            will-change: fill;

            &:hover {
                fill: color(cooler-green);
            }
        }

        @include verge(1700) {
            margin-left: margin(super-slim);
        }
    }

    &__middle {
        font-size: 1.76rem;
        font-weight: 300;
        letter-spacing: 5px;
        color: color(white-text) !important;

        transition: color ease-in-out 0.2s;
        will-change: color;

        &:hover {
            color: color(cooler-green) !important;
        }
    }

    &__right {
        margin-right: margin(slim);

        display: flex;
        gap: 25px;

        &__link {
            font-size: 1.18rem;
            font-weight: 300;
            letter-spacing: 1.2px;
            color: color(white-text) !important;

            transition: color ease-in-out 0.2s;
            will-change: color;

            &:hover {
                color: color(cooler-green) !important;
            }
        }

        @include verge(1700) {
            margin-right: margin(super-slim);
        }
    }
}