@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-color: #4FC0C0 #f5f5f5;
  scrollbar-width: thin !important;
}

html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  background-color: #4FC0C0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover, a:active {
  color: inherit !important;
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: #f5f5f5;
  color: #050404;
}

/* .nav {
    margin: 0 margin(slim);

    width: 50vw;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    //border: 1px solid orange;

    &__starsight {
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 5px;
    }

    &__link {
        padding: auto 0;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;

        &:hover {
            color: color(cool-green);
        }
    }
} */
.nav {
  width: 100%;
  height: 70px;
}

.nav__links {
  margin-left: 7vw !important;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links li {
  height: 100%;
}

.nav__links__starsight {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links__starsight h1 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 5px;
}

.nav__links__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
  will-change: color;
}

.nav__links__link:hover {
  color: #4FC0C0 !important;
}

.footer {
  height: 350px;
  background-color: #30323F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left {
  margin-left: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.footer__left__link {
  fill: #ffffff;
  -webkit-transition: fill ease-in-out 0.2s;
  transition: fill ease-in-out 0.2s;
  will-change: fill;
}

.footer__left__link:hover {
  fill: #5de4e4;
}

.footer__middle {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 5px;
  color: #ffffff !important;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
  will-change: color;
}

.footer__middle:hover {
  color: #5de4e4 !important;
}

.footer__right {
  margin-right: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.footer__right__link {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #ffffff !important;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
  will-change: color;
}

.footer__right__link:hover {
  color: #5de4e4 !important;
}
/*# sourceMappingURL=starsight.css.map */